XSDAnalyzer/CompleyTypeAnalyzer/test.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema version="3.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation xml:lang="cn">测试用</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="tAccessPointName">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[A-Za-z0-9][0-9A-Za-z_]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tAcsiName">
		<xs:restriction base="xs:Name">
			<xs:pattern value="[A-Za-z][0-9A-Za-z_]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tAnyName">
		<xs:restriction base="xs:normalizedString"/>
	</xs:simpleType>
	<xs:simpleType name="tAssociationID">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[0-9A-Za-z]+"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tAssociationKindEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="pre-established"/>
			<xs:enumeration value="predefined"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tAuthenticationEnum">
		<xs:restriction base="xs:Name">
			<xs:enumeration value="certificate"/>
			<xs:enumeration value="none"/>
			<xs:enumeration value="password"/>
			<xs:enumeration value="strong"/>
			<xs:enumeration value="weak"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDomainLNGroupAEnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="A[A-Z]*"/>
			<xs:enumeration value="ANCR"/>
			<xs:enumeration value="ARCO"/>
			<xs:enumeration value="ARIS"/>
			<xs:enumeration value="ATCC"/>
			<xs:enumeration value="AVCO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDomainLNGroupCEnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="C[A-Z]*"/>
			<xs:enumeration value="CALH"/>
			<xs:enumeration value="CCGR"/>
			<xs:enumeration value="CILO"/>
			<xs:enumeration value="CPOW"/>
			<xs:enumeration value="CSWI"/>
			<xs:enumeration value="CSYN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDomainLNGroupFEnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="F[A-Z]*"/>
			<xs:enumeration value="FCNT"/>
			<xs:enumeration value="FCSD"/>
			<xs:enumeration value="FFIL"/>
			<xs:enumeration value="FLIM"/>
			<xs:enumeration value="FPID"/>
			<xs:enumeration value="FRMP"/>
			<xs:enumeration value="FSPT"/>
			<xs:enumeration value="FXOT"/>
			<xs:enumeration value="FXUT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDomainLNGroupGEnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="G[A-Z]*"/>
			<xs:enumeration value="GAPC"/>
			<xs:enumeration value="GGIO"/>
			<xs:enumeration value="GLOG"/>
			<xs:enumeration value="GSAL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDomainLNGroupIEnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="I[A-Z]*"/>
			<xs:enumeration value="IARC"/>
			<xs:enumeration value="IHMI"/>
			<xs:enumeration value="ISAF"/>
			<xs:enumeration value="ITCI"/>
			<xs:enumeration value="ITMI"/>
			<xs:enumeration value="ITPC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDomainLNGroupKEnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="K[A-Z]*"/>
			<xs:enumeration value="KFAN"/>
			<xs:enumeration value="KFIL"/>
			<xs:enumeration value="KPMP"/>
			<xs:enumeration value="KTNK"/>
			<xs:enumeration value="KVLV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDomainLNGroupMEnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="M[A-Z]*"/>
			<xs:enumeration value="MDIF"/>
			<xs:enumeration value="MENV"/>
			<xs:enumeration value="MFLK"/>
			<xs:enumeration value="MHAI"/>
			<xs:enumeration value="MHAN"/>
			<xs:enumeration value="MHYD"/>
			<xs:enumeration value="MMDC"/>
			<xs:enumeration value="MMET"/>
			<xs:enumeration value="MMTN"/>
			<xs:enumeration value="MMTR"/>
			<xs:enumeration value="MMXN"/>
			<xs:enumeration value="MMXU"/>
			<xs:enumeration value="MSQI"/>
			<xs:enumeration value="MSTA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDomainLNGroupPEnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="P[A-Z]*"/>
			<xs:enumeration value="PDIF"/>
			<xs:enumeration value="PDIR"/>
			<xs:enumeration value="PDIS"/>
			<xs:enumeration value="PDOP"/>
			<xs:enumeration value="PDUP"/>
			<xs:enumeration value="PFRC"/>
			<xs:enumeration value="PHAR"/>
			<xs:enumeration value="PHIZ"/>
			<xs:enumeration value="PIOC"/>
			<xs:enumeration value="PMRI"/>
			<xs:enumeration value="PMSS"/>
			<xs:enumeration value="POPF"/>
			<xs:enumeration value="PPAM"/>
			<xs:enumeration value="PRTR"/>
			<xs:enumeration value="PSCH"/>
			<xs:enumeration value="PSDE"/>
			<xs:enumeration value="PTEF"/>
			<xs:enumeration value="PTHF"/>
			<xs:enumeration value="PTOC"/>
			<xs:enumeration value="PTOF"/>
			<xs:enumeration value="PTOV"/>
			<xs:enumeration value="PTRC"/>
			<xs:enumeration value="PTTR"/>
			<xs:enumeration value="PTUC"/>
			<xs:enumeration value="PTUF"/>
			<xs:enumeration value="PTUV"/>
			<xs:enumeration value="PUPF"/>
			<xs:enumeration value="PVOC"/>
			<xs:enumeration value="PVPH"/>
			<xs:enumeration value="PZSU"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDomainLNGroupQEnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="Q[A-Z]*"/>
			<xs:enumeration value="QFVR"/>
			<xs:enumeration value="QITR"/>
			<xs:enumeration value="QIUB"/>
			<xs:enumeration value="QVTR"/>
			<xs:enumeration value="QVUB"/>
			<xs:enumeration value="QVVR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDomainLNGroupREnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="R[A-Z]*"/>
			<xs:enumeration value="RADR"/>
			<xs:enumeration value="RBDR"/>
			<xs:enumeration value="RBRF"/>
			<xs:enumeration value="RDIR"/>
			<xs:enumeration value="RDRE"/>
			<xs:enumeration value="RDRS"/>
			<xs:enumeration value="RFLO"/>
			<xs:enumeration value="RMXU"/>
			<xs:enumeration value="RPSB"/>
			<xs:enumeration value="RREC"/>
			<xs:enumeration value="RSYN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDomainLNGroupSEnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="S[A-Z]*"/>
			<xs:enumeration value="SARC"/>
			<xs:enumeration value="SCBR"/>
			<xs:enumeration value="SIMG"/>
			<xs:enumeration value="SIML"/>
			<xs:enumeration value="SLTC"/>
			<xs:enumeration value="SOPM"/>
			<xs:enumeration value="SPDC"/>
			<xs:enumeration value="SPTR"/>
			<xs:enumeration value="SSWI"/>
			<xs:enumeration value="STMP"/>
			<xs:enumeration value="SVBR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDomainLNGroupTEnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="T[A-Z]*"/>
			<xs:enumeration value="TANG"/>
			<xs:enumeration value="TAXD"/>
			<xs:enumeration value="TCTR"/>
			<xs:enumeration value="TDST"/>
			<xs:enumeration value="TFLW"/>
			<xs:enumeration value="TFRQ"/>
			<xs:enumeration value="TGSN"/>
			<xs:enumeration value="THUM"/>
			<xs:enumeration value="TLVL"/>
			<xs:enumeration value="TMGF"/>
			<xs:enumeration value="TMVM"/>
			<xs:enumeration value="TPOS"/>
			<xs:enumeration value="TPRS"/>
			<xs:enumeration value="TRTN"/>
			<xs:enumeration value="TSND"/>
			<xs:enumeration value="TTMP"/>
			<xs:enumeration value="TTNS"/>
			<xs:enumeration value="TVBR"/>
			<xs:enumeration value="TVTR"/>
			<xs:enumeration value="TWPH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDomainLNGroupXEnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="X[A-Z]*"/>
			<xs:enumeration value="XCBR"/>
			<xs:enumeration value="XSWI"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDomainLNGroupYEnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="Y[A-Z]*"/>
			<xs:enumeration value="YEFN"/>
			<xs:enumeration value="YLTC"/>
			<xs:enumeration value="YPSH"/>
			<xs:enumeration value="YPTR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDomainLNGroupZEnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="Z[A-Z]*"/>
			<xs:enumeration value="ZAXN"/>
			<xs:enumeration value="ZBAT"/>
			<xs:enumeration value="ZBSH"/>
			<xs:enumeration value="ZCAB"/>
			<xs:enumeration value="ZCAP"/>
			<xs:enumeration value="ZCON"/>
			<xs:enumeration value="ZGEN"/>
			<xs:enumeration value="ZGIL"/>
			<xs:enumeration value="ZLIN"/>
			<xs:enumeration value="ZMOT"/>
			<xs:enumeration value="ZREA"/>
			<xs:enumeration value="ZRES"/>
			<xs:enumeration value="ZRRC"/>
			<xs:enumeration value="ZSAR"/>
			<xs:enumeration value="ZSCR"/>
			<xs:enumeration value="ZSMC"/>
			<xs:enumeration value="ZTCF"/>
			<xs:enumeration value="ZTCR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tEmpty">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tExtensionCDCEnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="[A-Za-z]+"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tExtensionEquipmentEnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="E[A-Z]*"/>
			<xs:minLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tExtensionGeneralEquipmentEnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="E[A-Z]*"/>
			<xs:minLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tExtensionLNClassEnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="[A-Z]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tExtensionPTypeEnum">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[A-Z][0-9A-Za-z\-]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tExtensionPhysConnTypeEnum">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[A-Z][0-9A-Za-z\-]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tFCEnum">
		<xs:restriction base="xs:Name">
			<xs:enumeration value="BL"/>
			<xs:enumeration value="CF"/>
			<xs:enumeration value="CO"/>
			<xs:enumeration value="DC"/>
			<xs:enumeration value="EX"/>
			<xs:enumeration value="MX"/>
			<xs:enumeration value="OR"/>
			<xs:enumeration value="SE"/>
			<xs:enumeration value="SG"/>
			<xs:enumeration value="SP"/>
			<xs:enumeration value="SR"/>
			<xs:enumeration value="ST"/>
			<xs:enumeration value="SV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tFullAttributeName">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[a-zA-Z][a-zA-Z0-9]*(\([0-9]+\))?(\.[a-zA-Z][a-zA-Z0-9]*(\([0-9]+\))?)*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tFullDOName">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[A-Z][0-9A-Za-z]{0,11}(\.[a-z][0-9A-Za-z]*(\([0-9]+\))?)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tGSEControlTypeEnum">
		<xs:restriction base="xs:Name">
			<xs:enumeration value="GOOSE"/>
			<xs:enumeration value="GSSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tLDInst">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[A-Za-z0-9][0-9A-Za-z_]*"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tLDName">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[A-Za-z][0-9A-Za-z_]*"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tLLN0Enum">
		<xs:restriction base="xs:Name">
			<xs:enumeration value="LLN0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tLNInst">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[1-9][0-9]{0,11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tLPHDEnum">
		<xs:restriction base="xs:Name">
			<xs:enumeration value="LPHD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tNamespaceName">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[ -~]+:20\d\d[A-Z]?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPAddr">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPhaseEnum">
		<xs:restriction base="xs:Name">
			<xs:enumeration value="A"/>
			<xs:enumeration value="AB"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="BC"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="CA"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="all"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPowerTransformerEnum">
		<xs:restriction base="xs:Name">
			<xs:enumeration value="PTR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPredefinedAttributeNameEnum">
		<xs:restriction base="xs:Name">
			<xs:enumeration value="Cancel"/>
			<xs:enumeration value="Check"/>
			<xs:enumeration value="Oper"/>
			<xs:enumeration value="SBO"/>
			<xs:enumeration value="SBOw"/>
			<xs:enumeration value="SIUnit"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="Test"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPredefinedBasicTypeEnum">
		<xs:restriction base="xs:Name">
			<xs:enumeration value="BOOLEAN"/>
			<xs:enumeration value="Check"/>
			<xs:enumeration value="Currency"/>
			<xs:enumeration value="Dbpos"/>
			<xs:enumeration value="EntryID"/>
			<xs:enumeration value="EntryTime"/>
			<xs:enumeration value="Enum"/>
			<xs:enumeration value="FLOAT32"/>
			<xs:enumeration value="FLOAT64"/>
			<xs:enumeration value="INT128"/>
			<xs:enumeration value="INT16"/>
			<xs:enumeration value="INT16U"/>
			<xs:enumeration value="INT24"/>
			<xs:enumeration value="INT24U"/>
			<xs:enumeration value="INT32"/>
			<xs:enumeration value="INT32U"/>
			<xs:enumeration value="INT64"/>
			<xs:enumeration value="INT8"/>
			<xs:enumeration value="INT8U"/>
			<xs:enumeration value="ObjRef"/>
			<xs:enumeration value="Octet64"/>
			<xs:enumeration value="OptFlds"/>
			<xs:enumeration value="PhyComAddr"/>
			<xs:enumeration value="Quality"/>
			<xs:enumeration value="Struct"/>
			<xs:enumeration value="SvOptFlds"/>
			<xs:enumeration value="Tcmd"/>
			<xs:enumeration value="Timestamp"/>
			<xs:enumeration value="TrgOps"/>
			<xs:enumeration value="Unicode255"/>
			<xs:enumeration value="VisString129"/>
			<xs:enumeration value="VisString255"/>
			<xs:enumeration value="VisString32"/>
			<xs:enumeration value="VisString64"/>
			<xs:enumeration value="VisString65"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPredefinedCDCEnum">
		<xs:restriction base="xs:Name">
			<xs:enumeration value="ACD"/>
			<xs:enumeration value="ACT"/>
			<xs:enumeration value="APC"/>
			<xs:enumeration value="ASG"/>
			<xs:enumeration value="BAC"/>
			<xs:enumeration value="BCR"/>
			<xs:enumeration value="BSC"/>
			<xs:enumeration value="BTS"/>
			<xs:enumeration value="CMV"/>
			<xs:enumeration value="CSD"/>
			<xs:enumeration value="CSG"/>
			<xs:enumeration value="CST"/>
			<xs:enumeration value="CTS"/>
			<xs:enumeration value="CUG"/>
			<xs:enumeration value="CURVE"/>
			<xs:enumeration value="DEL"/>
			<xs:enumeration value="DPC"/>
			<xs:enumeration value="DPL"/>
			<xs:enumeration value="DPS"/>
			<xs:enumeration value="ENC"/>
			<xs:enumeration value="ENG"/>
			<xs:enumeration value="ENS"/>
			<xs:enumeration value="GTS"/>
			<xs:enumeration value="HDEL"/>
			<xs:enumeration value="HMV"/>
			<xs:enumeration value="HST"/>
			<xs:enumeration value="HWYE"/>
			<xs:enumeration value="INC"/>
			<xs:enumeration value="ING"/>
			<xs:enumeration value="INS"/>
			<xs:enumeration value="ISC"/>
			<xs:enumeration value="LPL"/>
			<xs:enumeration value="LTS"/>
			<xs:enumeration value="MTS"/>
			<xs:enumeration value="MV"/>
			<xs:enumeration value="NTS"/>
			<xs:enumeration value="ORG"/>
			<xs:enumeration value="OTS"/>
			<xs:enumeration value="SAV"/>
			<xs:enumeration value="SEC"/>
			<xs:enumeration value="SEQ"/>
			<xs:enumeration value="SPC"/>
			<xs:enumeration value="SPG"/>
			<xs:enumeration value="SPS"/>
			<xs:enumeration value="STS"/>
			<xs:enumeration value="TSG"/>
			<xs:enumeration value="UTS"/>
			<xs:enumeration value="VSG"/>
			<xs:enumeration value="VSS"/>
			<xs:enumeration value="WYE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPredefinedCommonConductingEquipmentEnum">
		<xs:restriction base="xs:Name">
			<xs:enumeration value="BAT"/>
			<xs:enumeration value="BSH"/>
			<xs:enumeration value="CAB"/>
			<xs:enumeration value="CAP"/>
			<xs:enumeration value="CBR"/>
			<xs:enumeration value="CON"/>
			<xs:enumeration value="CTR"/>
			<xs:enumeration value="DIS"/>
			<xs:enumeration value="EFN"/>
			<xs:enumeration value="FAN"/>
			<xs:enumeration value="GEN"/>
			<xs:enumeration value="GIL"/>
			<xs:enumeration value="IFL"/>
			<xs:enumeration value="LIN"/>
			<xs:enumeration value="MOT"/>
			<xs:enumeration value="PMP"/>
			<xs:enumeration value="PSH"/>
			<xs:enumeration value="REA"/>
			<xs:enumeration value="RES"/>
			<xs:enumeration value="RRC"/>
			<xs:enumeration value="SAR"/>
			<xs:enumeration value="SCR"/>
			<xs:enumeration value="SMC"/>
			<xs:enumeration value="TCF"/>
			<xs:enumeration value="TCR"/>
			<xs:enumeration value="VTR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPredefinedGeneralEquipmentEnum">
		<xs:restriction base="xs:Name">
			<xs:enumeration value="AXN"/>
			<xs:enumeration value="BAT"/>
			<xs:enumeration value="FAN"/>
			<xs:enumeration value="FIL"/>
			<xs:enumeration value="MOT"/>
			<xs:enumeration value="PMP"/>
			<xs:enumeration value="TNK"/>
			<xs:enumeration value="VLV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPredefinedPTypeEnum">
		<xs:restriction base="xs:Name">
			<xs:enumeration value="APPID"/>
			<xs:enumeration value="C37-118-IP-Port"/>
			<xs:enumeration value="DNSName"/>
			<xs:enumeration value="IP"/>
			<xs:enumeration value="IP-GATEWAY"/>
			<xs:enumeration value="IP-SUBNET"/>
			<xs:enumeration value="IPv6ClassOfTraffic"/>
			<xs:enumeration value="IPv6FlowLabel"/>
			<xs:enumeration value="MAC-Address"/>
			<xs:enumeration value="MMS-Port"/>
			<xs:enumeration value="OSI-AE-Invoke"/>
			<xs:enumeration value="OSI-AE-Qualifier"/>
			<xs:enumeration value="OSI-AP-Invoke"/>
			<xs:enumeration value="OSI-AP-Title"/>
			<xs:enumeration value="OSI-NSAP"/>
			<xs:enumeration value="OSI-PSEL"/>
			<xs:enumeration value="OSI-SSEL"/>
			<xs:enumeration value="OSI-TSEL"/>
			<xs:enumeration value="SNTP-Port"/>
			<xs:enumeration value="VLAN-ID"/>
			<xs:enumeration value="VLAN-PRIORITY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPredefinedPTypePhysConnEnum">
		<xs:restriction base="xs:Name">
			<xs:enumeration value="Cable"/>
			<xs:enumeration value="Plug"/>
			<xs:enumeration value="Port"/>
			<xs:enumeration value="Type"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPredefinedPhysConnTypeEnum">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="Connection"/>
			<xs:enumeration value="RedConn"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPredefinedTypeOfSecurityEnum">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="None"/>
			<xs:enumeration value="Signature"/>
			<xs:enumeration value="SignatureAndEncryption"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPrefix">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[A-Za-z][0-9A-Za-z_]*"/>
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tRef">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value=".+/.+/.+/.+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tRestrName1stL">
		<xs:restriction base="xs:Name">
			<xs:pattern value="[a-z][0-9A-Za-z]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tRestrName1stU">
		<xs:restriction base="xs:Name">
			<xs:pattern value="[A-Z][0-9A-Za-z]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tRightEnum">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="dataflow"/>
			<xs:enumeration value="fix"/>
			<xs:enumeration value="full"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSIUnitEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1/s"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="As"/>
			<xs:enumeration value="At"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="Gy"/>
			<xs:enumeration value="H"/>
			<xs:enumeration value="Hz"/>
			<xs:enumeration value="Hz/s"/>
			<xs:enumeration value="J"/>
			<xs:enumeration value="J/K"/>
			<xs:enumeration value="K"/>
			<xs:enumeration value="Lm"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="Pa"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="Sv"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="V"/>
			<xs:enumeration value="V/Hz"/>
			<xs:enumeration value="VA"/>
			<xs:enumeration value="VAh"/>
			<xs:enumeration value="VAr"/>
			<xs:enumeration value="VArh"/>
			<xs:enumeration value="Vs"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="W/m K"/>
			<xs:enumeration value="Watts"/>
			<xs:enumeration value="Wb"/>
			<xs:enumeration value="Wh"/>
			<xs:enumeration value="cd"/>
			<xs:enumeration value="char"/>
			<xs:enumeration value="char/s"/>
			<xs:enumeration value="cos(phi)"/>
			<xs:enumeration value="dB"/>
			<xs:enumeration value="deg"/>
			<xs:enumeration value="kg"/>
			<xs:enumeration value="kg/m"/>
			<xs:enumeration value="kgm"/>
			<xs:enumeration value="lx"/>
			<xs:enumeration value="m"/>
			<xs:enumeration value="m/m"/>
			<xs:enumeration value="m/s"/>
			<xs:enumeration value="mol"/>
			<xs:enumeration value="none"/>
			<xs:enumeration value="ohm"/>
			<xs:enumeration value="phi"/>
			<xs:enumeration value="ppm"/>
			<xs:enumeration value="q"/>
			<xs:enumeration value="rad"/>
			<xs:enumeration value="rad/s"/>
			<xs:enumeration value="s"/>
			<xs:enumeration value="sr"/>
			<xs:enumeration value="°C"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSclRevision">
		<xs:restriction base="xs:Name">
			<xs:pattern value="[A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tServiceSettingsEnum">
		<xs:restriction base="xs:Name">
			<xs:enumeration value="Conf"/>
			<xs:enumeration value="Dyn"/>
			<xs:enumeration value="Fix"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tServiceType">
		<xs:restriction base="xs:Name">
			<xs:enumeration value="GOOSE"/>
			<xs:enumeration value="Poll"/>
			<xs:enumeration value="Report"/>
			<xs:enumeration value="SMV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSmpMod">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="SecPerSmp"/>
			<xs:enumeration value="SmpPerPeriod"/>
			<xs:enumeration value="SmpPerSec"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSystemLNGroupEnum">
		<xs:restriction base="xs:Name">
			<xs:pattern value="L[A-Z]*"/>
			<xs:enumeration value="LCCH"/>
			<xs:enumeration value="LGOS"/>
			<xs:enumeration value="LLN0"/>
			<xs:enumeration value="LPHD"/>
			<xs:enumeration value="LSVS"/>
			<xs:enumeration value="LTIM"/>
			<xs:enumeration value="LTMS"/>
			<xs:enumeration value="LTRK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tTransformerWindingEnum">
		<xs:restriction base="xs:Name">
			<xs:enumeration value="PTW"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tUnitMultiplierEnum">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value=""/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="G"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="Z"/>
			<xs:enumeration value="a"/>
			<xs:enumeration value="c"/>
			<xs:enumeration value="d"/>
			<xs:enumeration value="da"/>
			<xs:enumeration value="f"/>
			<xs:enumeration value="h"/>
			<xs:enumeration value="k"/>
			<xs:enumeration value="m"/>
			<xs:enumeration value="mu"/>
			<xs:enumeration value="n"/>
			<xs:enumeration value="p"/>
			<xs:enumeration value="y"/>
			<xs:enumeration value="z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tValKindEnum">
		<xs:restriction base="xs:Name">
			<xs:enumeration value="Conf"/>
			<xs:enumeration value="RO"/>
			<xs:enumeration value="Set"/>
			<xs:enumeration value="Spec"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tVisibleBasicLatin">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[ -~]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tCBName">
		<xs:restriction base="tAcsiName">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDataSetName">
		<xs:restriction base="tAcsiName">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tIEDName">
		<xs:restriction base="tAcsiName">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tLogName">
		<xs:restriction base="tAcsiName">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tName">
		<xs:restriction base="tAnyName">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDomainLNEnum">
		<xs:union memberTypes="tDomainLNGroupAEnum tDomainLNGroupCEnum tDomainLNGroupFEnum tDomainLNGroupGEnum tDomainLNGroupIEnum tDomainLNGroupKEnum tDomainLNGroupMEnum tDomainLNGroupPEnum tDomainLNGroupQEnum tDomainLNGroupREnum tDomainLNGroupSEnum tDomainLNGroupTEnum tDomainLNGroupXEnum tDomainLNGroupYEnum tDomainLNGroupZEnum"/>
	</xs:simpleType>
	<xs:simpleType name="tLDInstOrEmpty">
		<xs:union memberTypes="tEmpty tLDInst"/>
	</xs:simpleType>
	<xs:simpleType name="tLNInstOrEmpty">
		<xs:union memberTypes="tEmpty tLNInst"/>
	</xs:simpleType>
	<xs:simpleType name="tBasicTypeEnum">
		<xs:restriction base="tPredefinedBasicTypeEnum"/>
	</xs:simpleType>
	<xs:simpleType name="tCDCEnum">
		<xs:restriction base="tPredefinedCDCEnum"/>
	</xs:simpleType>
	<xs:simpleType name="tCommonConductingEquipmentEnum">
		<xs:union memberTypes="tExtensionEquipmentEnum tPredefinedCommonConductingEquipmentEnum"/>
	</xs:simpleType>
	<xs:simpleType name="tGeneralEquipmentEnum">
		<xs:union memberTypes="tExtensionGeneralEquipmentEnum tPredefinedGeneralEquipmentEnum"/>
	</xs:simpleType>
	<xs:simpleType name="tPTypeEnum">
		<xs:union memberTypes="tExtensionPTypeEnum tPredefinedPTypeEnum"/>
	</xs:simpleType>
	<xs:simpleType name="tPTypePhysConnEnum">
		<xs:union memberTypes="tExtensionPTypeEnum tPredefinedPTypePhysConnEnum"/>
	</xs:simpleType>
	<xs:simpleType name="tPhysConnTypeEnum">
		<xs:union memberTypes="tExtensionPhysConnTypeEnum tPredefinedPhysConnTypeEnum"/>
	</xs:simpleType>
	<xs:simpleType name="tExtensionAttributeNameEnum">
		<xs:restriction base="tRestrName1stL">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSDOCount">
		<xs:union memberTypes="tRestrName1stL xs:unsignedInt"/>
	</xs:simpleType>
	<xs:simpleType name="tSubDataName">
		<xs:restriction base="tRestrName1stL">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tDataName">
		<xs:restriction base="tRestrName1stU">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tMessageID">
		<xs:restriction base="tVisibleBasicLatin">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSclVersion">
		<xs:restriction base="tName">
			<xs:pattern value="2[0-2][0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPredefinedLNClassEnum">
		<xs:union memberTypes="tDomainLNEnum tSystemLNGroupEnum"/>
	</xs:simpleType>
	<xs:simpleType name="tAttributeNameEnum">
		<xs:union memberTypes="tExtensionAttributeNameEnum tPredefinedAttributeNameEnum"/>
	</xs:simpleType>
	<xs:simpleType name="tLNClassEnum">
		<xs:union memberTypes="tExtensionLNClassEnum tPredefinedLNClassEnum"/>
	</xs:simpleType>
	<xs:simpleType name="tDACount">
		<xs:union memberTypes="tAttributeNameEnum xs:unsignedInt"/>
	</xs:simpleType>
	<xs:attributeGroup name="agAuthentication">
		<xs:attribute default="false" name="certificate" type="xs:boolean"/>
		<xs:attribute default="true" name="none" type="xs:boolean"/>
		<xs:attribute default="false" name="password" type="xs:boolean"/>
		<xs:attribute default="false" name="strong" type="xs:boolean"/>
		<xs:attribute default="false" name="weak" type="xs:boolean"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="agDATrgOp">
		<xs:attribute default="false" name="dchg" type="xs:boolean"/>
		<xs:attribute default="false" name="dupd" type="xs:boolean"/>
		<xs:attribute default="false" name="qchg" type="xs:boolean"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="agDesc">
		<xs:attribute default="" name="desc" type="xs:normalizedString"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="agOptFields">
		<xs:attribute default="true" name="bufOvfl" type="xs:boolean"/>
		<xs:attribute default="false" name="configRef" type="xs:boolean"/>
		<xs:attribute default="false" name="dataRef" type="xs:boolean"/>
		<xs:attribute default="false" name="dataSet" type="xs:boolean"/>
		<xs:attribute default="false" name="entryID" type="xs:boolean"/>
		<xs:attribute default="false" name="reasonCode" type="xs:boolean"/>
		<xs:attribute default="false" name="seqNum" type="xs:boolean"/>
		<xs:attribute default="false" name="timeStamp" type="xs:boolean"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="agSmvOpts">
		<xs:attribute default="false" name="dataSet" type="xs:boolean"/>
		<xs:attribute default="false" name="refreshTime" type="xs:boolean"/>
		<xs:attribute default="false" name="sampleRate" type="xs:boolean"/>
		<xs:attribute fixed="true" name="sampleSynchronized" type="xs:boolean"/>
		<xs:attribute default="false" name="security" type="xs:boolean"/>
		<xs:attribute default="false" name="timestamp" type="xs:boolean"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="agVirtual">
		<xs:attribute default="false" name="virtual" type="xs:boolean"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="agLDRef">
		<xs:attribute name="iedName" type="tIEDName" use="required"/>
		<xs:attribute name="ldInst" type="tLDInst" use="required"/>
		<xs:attributeGroup ref="agDesc"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="agLNRef">
		<xs:attribute name="lnClass" type="tLNClassEnum" use="required"/>
		<xs:attribute name="lnInst" type="tLNInstOrEmpty" use="required"/>
		<xs:attribute default="" name="prefix" type="tPrefix"/>
		<xs:attributeGroup ref="agLDRef"/>
	</xs:attributeGroup>
	<xs:complexType name="tAddress">
		<xs:complexContent/>
	</xs:complexType>
	<xs:complexType name="tAnyContentFromOtherNamespace">
		<xs:complexContent/>
	</xs:complexType>
	<xs:complexType name="tAssociation">
		<xs:simpleContent/>
	</xs:complexType>
	<xs:complexType name="tBaseElement">
		<xs:complexContent/>
	</xs:complexType>
	<xs:complexType name="tBitRateInMbPerSec">
		<xs:simpleContent>
			<xs:extension/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tCert">
		<xs:simpleContent/>
	</xs:complexType>
	<xs:complexType name="tClientLN">
		<xs:simpleContent/>
	</xs:complexType>
	<xs:complexType name="tClientServices">
		<xs:simpleContent/>
	</xs:complexType>
	<xs:complexType name="tConfLNs">
		<xs:simpleContent/>
	</xs:complexType>
	<xs:complexType name="tDataTypeTemplates">
		<xs:complexContent/>
	</xs:complexType>
	<xs:complexType name="tDurationInMilliSec">
		<xs:simpleContent>
			<xs:extension/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tEnumVal">
		<xs:simpleContent>
			<xs:extension/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tExtRef">
		<xs:simpleContent/>
	</xs:complexType>
	<xs:complexType name="tFCDA">
		<xs:simpleContent/>
	</xs:complexType>
	<xs:complexType name="tHeader">
		<xs:complexContent/>
	</xs:complexType>
	<xs:complexType name="tKDC">
		<xs:simpleContent/>
	</xs:complexType>
	<xs:complexType name="tP">
		<xs:simpleContent>
			<xs:extension/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_PhysConn">
		<xs:simpleContent>
			<xs:extension/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tProtNs">
		<xs:simpleContent>
			<xs:extension/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tServiceSettings">
		<xs:simpleContent/>
	</xs:complexType>
	<xs:complexType name="tServiceWithMax">
		<xs:simpleContent/>
	</xs:complexType>
	<xs:complexType name="tServiceWithOptionalMax">
		<xs:simpleContent/>
	</xs:complexType>
	<xs:complexType name="tServiceYesNo">
		<xs:simpleContent/>
	</xs:complexType>
	<xs:complexType name="tServices">
		<xs:complexContent/>
	</xs:complexType>
	<xs:complexType name="tTrgOps">
		<xs:simpleContent/>
	</xs:complexType>
	<xs:complexType name="tVal">
		<xs:simpleContent>
			<xs:extension/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tValueWithUnit">
		<xs:simpleContent>
			<xs:extension/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="LN0"/>
	<xs:element name="SCL"/>
	<xs:complexType name="tAccessControl">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tHitem">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tPrivate">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tText">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tIDNaming">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tNaming">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tUnNaming">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DataTypeTemplates"/>
	<xs:complexType name="tP_APPID">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_C37-118-IP-Port">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_DNSName">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_IPbase">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_IPv6ClassOfTraffic">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_IPv6FlowLabel">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_MAC-Address">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_OSI-AE-Invoke">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_OSI-AE-Qualifier">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_OSI-AP-Invoke">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_OSI-AP-Title">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_OSI-NSAP">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_OSI-PSEL">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_OSI-SSEL">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_OSI-TSEL">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_Port">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_VLAN-ID">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_VLAN-PRIORITY">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tGSESettings">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tLogSettings">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tReportSettings">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tSMVSettings">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tServiceConfReportControl">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tServiceWithMaxAndMaxAttributes">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tServiceWithMaxAndModify">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tDurationInSec">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tVoltage">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tDAType">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tDOType">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tEnumType">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tLNodeType">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tCertificate">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tLNodeContainer">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tSubNetwork">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tAbstractDataAttribute">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tAccessPoint">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tAnyLN">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tCommunication">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tConnectedAP">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tControl">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tControlBlock">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tDAI">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tDO">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tDOI">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tDataSet">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tIED">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tInputs">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tLDevice">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tLNode">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tLog">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tPhysConn">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tRptEnabled">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tSDI">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tSDO">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tServer">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tServerAt">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tSettingControl">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tTerminal">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tP_IP">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_IP-GATEWAY">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_IP-SUBNET">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_MMS-Port">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tP_SNTP-Port">
		<xs:simpleContent>
			<xs:restriction/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tServiceForConfDataSet">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tConnectivityNode">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tPowerSystemResource">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tBDA">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tDA">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tLN">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tLN0">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Communication"/>
	<xs:complexType name="tControlWithIEDName">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tControlWithTriggerOpt">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tGSE">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tSMV">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="IED"/>
	<xs:complexType name="tEquipment">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tEquipmentContainer">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tFunction">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tSubEquipment">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tSubFunction">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tTapChanger">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LN"/>
	<xs:complexType name="tGSEControl">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tSampledValueControl">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tLogControl">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tReportControl">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tAbstractConductingEquipment">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tGeneralEquipment">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tPowerTransformer">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tBay">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tSubstation">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tVoltageLevel">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tConductingEquipment">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tTransformerWinding">
		<xs:complexContent>
			<xs:extension/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Substation"/>
</xs:schema>
